# This service depends on X and would fail the first time it starts up. A dirty
# hack is to always restart (default is No) with a reasonable gap in between
# (default is 100ms).

[Unit]
Description=Autorandr

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStartPre=sleep 5
ExecStart=autorandr --change --default default
Restart=always
RestartSec=5
RemainAfterExit=true

[Install]
WantedBy=default.target
