# -*- conf -*-
[user]
    name = Jaseem Abid
    email = me@jabid.in

[alias]
    authors = shortlog -sn
    b = branch
    c = commit
    conflits = diff --name-only --diff-filter=U
    continue = rebase --continue
    cp = cherry-pick
    l = log --oneline --no-decorate origin/main..
    last = log -1 --oneline --no-decorate
    lasttag = describe --tags --abbrev=0
    ll = log --oneline --graph --decorate -20
    meh = commit --amend --no-edit
    ours = "!f() { git checkout --ours -- $@ && git add -- $@; }; f"
    pill = pull
    r = rebase
    s = status -uno
    serve = !git daemon --base-path=. --export-all --reuseaddr --informative-errors --verbose
    set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
    sync = !git pull --rebase && git push
    theirs = "!f() { git checkout --theirs -- $@ && git add -- $@; }; f"
    today = diff @{yesterday}.. --stat
    xxx = !git reset --hard HEAD && git clean -xfd

[apply]
    whitespace = fix

[color]
    ui = true

[commit]
    verbose = true

[core]
    whitespace = trailing-space,space-before-tab
    excludesFile = ~/.gitignore
    pager = diff-so-fancy | less --tabs=4 -RFX
    quotePath = false

[credential]
    helper = cache --timeout 36000

[diff]
    compactionHeuristic = true
    renames = true

[diff "jupyternotebook"]
    command = git-nbdiffdriver diff

[difftool]
    prompt = false

[difftool "nbdime"]
    cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"

[fetch]
    prune = true

[format]
    signoff = true

[github]
    username = jaseemabid

[grep]
    lineNumber = true

[help]
    autocorrect = 1

[init]
    defaultBranch = main

[merge "jupyternotebook"]
    driver = git-nbmergedriver merge %O %A %B %L %P
    name = jupyter notebook merge driver

[mergetool]
    prompt = false

[mergetool "nbdime"]
    cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"

[pull]
    rebase = true

[push]
    default = current

[rebase]
    autosquash = true
    autoStash = true

[remote "origin"]
    prune = true

[submodule]
    recurse = false

[tig]
    mailmap = yes

[url "https://github.com/"]
    insteadOf = git@github.com:

[url "https://"]
    insteadOf = git://
