# -*- conf -*-
[user]
    name = Jaseem Abid
    email = jaseemabid@monzo.com
[github]
    username = jaseemabid
[apply]
    whitespace = fix
[grep]
    lineNumber = true
[core]
    whitespace = trailing-space,space-before-tab
    excludesfile = ~/.gitignore
    pager = diff-so-fancy | less --tabs=4 -RFX
[color]
    ui = true
[push]
    default = current
[alias]
    authors = shortlog -sn
    b = branch
    c = commit
    cp = cherry-pick
    l = log --oneline --graph --decorate -15
    last = log -1 -p
    lasttag = describe --tags --abbrev=0
    meh = commit --amend --no-edit
    ours = "!f() { git checkout --ours -- $@ && git add -- $@; }; f"
    pill = pull
    r = rebase
    s = status
    serve = !git daemon --base-path=. --export-all --reuseaddr --informative-errors --verbose
    sync = !git pull --rebase && git push
    theirs = "!f() { git checkout --theirs -- $@ && git add -- $@; }; f"
    today = diff @{yesterday}.. --stat
    x = commit --amend --no-edit
    xxx = !git reset --hard HEAD && git clean -xfd
[format]
    signoff = true
[pull]
    rebase = true
[rebase]
    autosquash = true
    autostash = true
[credential]
    helper = cache --timeout 36000
[merge]
    tool = meld
[help]
    autocorrect = 1
[diff]
    compactionHeuristic = true
[sendemail]
    smtpuser = jaseemabid@gmail.com
    smtpserver = smtp.googlemail.com
    smtpencryption = tls
    smtpserverport = 587
[url "ssh://git@github.com/monzo/"]
    insteadOf = https://github.com/monzo/
[remote "origin"]
    prune = true
[commit]
    verbose = true
