<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vitor.switchappearance</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0940DE83-DCC5-436A-B972-2C9FC9176186</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C474141-F752-4C54-8AC7-59575C0BE4B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7EF6EA0-25C4-4EA8-B4C8-98E8F1429D0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>779A1585-F25C-4E57-82E5-6E7FB219CB74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F45D9C85-0EDE-4351-875C-310F5F571643</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C05A3EE6-A0C7-4492-9552-3C787259C530</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Change between Light and Dark Mode</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Switch Appearance</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:light_keyword}</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Turn on Light Mode</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F45D9C85-0EDE-4351-875C-310F5F571643</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_mode</key>
					<string>off</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/appearance/dark-mode.set</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>C05A3EE6-A0C7-4492-9552-3C787259C530</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_mode</key>
					<string>on</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/appearance/dark-mode.set</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>779A1585-F25C-4E57-82E5-6E7FB219CB74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:dark_keyword}</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Turn on Dark Mode</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E7EF6EA0-25C4-4EA8-B4C8-98E8F1429D0F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_mode</key>
					<string>toggle</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/appearance/dark-mode.set</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>5C474141-F752-4C54-8AC7-59575C0BE4B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:toggle_keyword}</string>
				<key>subtext</key>
				<string>Light Mode changes to Dark Mode and vice-versa</string>
				<key>text</key>
				<string>Toggle Appearance Mode</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0940DE83-DCC5-436A-B972-2C9FC9176186</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Set macOS’ appearance mode via the `light`, `dark`, and `toggle` keywords.

![Turn on light mode](images/about/light.png)

![Turn on dark mode](images/about/dark.png)

![Toggle mode](images/about/toggle.png)</string>
	<key>uidata</key>
	<dict>
		<key>0940DE83-DCC5-436A-B972-2C9FC9176186</key>
		<dict>
			<key>note</key>
			<string>Keyword to toggle mode</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>5C474141-F752-4C54-8AC7-59575C0BE4B4</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>779A1585-F25C-4E57-82E5-6E7FB219CB74</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>C05A3EE6-A0C7-4492-9552-3C787259C530</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>E7EF6EA0-25C4-4EA8-B4C8-98E8F1429D0F</key>
		<dict>
			<key>note</key>
			<string>Keyword to set Dark Mode</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>F45D9C85-0EDE-4351-875C-310F5F571643</key>
		<dict>
			<key>note</key>
			<string>Keyword to set Light Mode</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>light</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Light Mode Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>light_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>dark</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Dark Mode Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>dark_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>toggle</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Toggle Mode Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>toggle_keyword</string>
		</dict>
	</array>
	<key>version</key>
	<string>2023.2</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/switch-appearance-workflow/</string>
</dict>
</plist>
