<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>38221955-4E41-4DF6-9A3B-3AF232FFFBEF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jira</string>
			<key>text</key>
			<string>Lunar Jira</string>
			<key>url</key>
			<string>https://lunarenergy.atlassian.net/browse/{query}</string>
		</dict>
	</dict>
</dict>
</plist>
