<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.gingerbeardman.searchkeychainaccess</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>46E191E5-06E1-4480-80B7-239FA50EF92E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1662F9CB-96BD-4013-AF74-71C08ABAE3E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>817FCD2C-3BD8-4FFC-A27A-AD272DFF4F96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4FF2301-44DB-45CE-B679-7FDB1DBE5A49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4FF2301-44DB-45CE-B679-7FDB1DBE5A49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AF29825-70C5-4B31-B8F1-2EFF71E3D670</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F962C386-3897-4498-8573-59F8644678AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46E191E5-06E1-4480-80B7-239FA50EF92E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Matt Sephton</string>
	<key>description</key>
	<string>Search Keychain Access and copy password for top match</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search Keychain</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pw</string>
				<key>subtext</key>
				<string>first match will be copied to clipboard</string>
				<key>text</key>
				<string>Search Keychain Access for...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>817FCD2C-3BD8-4FFC-A27A-AD272DFF4F96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Utilities/Keychain Access.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>E4FF2301-44DB-45CE-B679-7FDB1DBE5A49</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	activate application "Keychain Access"	tell application "System Events"		tell process "Keychain Access"			set value of first text field of last group of first toolbar of window "Keychain Access" to q			click first button of first text field of last group of first toolbar of window "Keychain Access"			click menu item "Copy Password to Clipboard" of first menu of menu bar item "Edit" of first menu bar		end tell	end tell	quit application "Keychain Access"
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>7AF29825-70C5-4B31-B8F1-2EFF71E3D670</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	activate application "Keychain Access"	tell application "System Events"		tell process "Keychain Access"			set value of first text field of last group of first toolbar of window "Keychain Access" to q			click first button of first text field of last group of first toolbar of window "Keychain Access"		end tell	end tellend alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>1662F9CB-96BD-4013-AF74-71C08ABAE3E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Utilities/Keychain Access.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>46E191E5-06E1-4480-80B7-239FA50EF92E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>kc</string>
				<key>subtext</key>
				<string>matches will be shown</string>
				<key>text</key>
				<string>Search Keychain Access for...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F962C386-3897-4498-8573-59F8644678AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1662F9CB-96BD-4013-AF74-71C08ABAE3E8</key>
		<dict>
			<key>note</key>
			<string>Automate Search</string>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>46E191E5-06E1-4480-80B7-239FA50EF92E</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>7AF29825-70C5-4B31-B8F1-2EFF71E3D670</key>
		<dict>
			<key>note</key>
			<string>Automate Search &amp; Copy to Clipboard</string>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>817FCD2C-3BD8-4FFC-A27A-AD272DFF4F96</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>E4FF2301-44DB-45CE-B679-7FDB1DBE5A49</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>F962C386-3897-4498-8573-59F8644678AA</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.gingerbeardman.com</string>
</dict>
</plist>
