[org/virt-manager/virt-manager/vmlist-fields]
network-traffic=false
disk-usage=false

[org/virt-manager/virt-manager]
manager-window-height=617
manager-window-width=372
system-tray=true

[org/virt-manager/virt-manager/paths]
media-default='/home/j/Downloads'

[org/virt-manager/virt-manager/details]
show-toolbar=true

[org/virt-manager/virt-manager/new-vm]
graphics-type='system'

[org/virt-manager/virt-manager/confirm]
unapplied-dev=true
forcepoweroff=true

[org/virt-manager/virt-manager/vms/e417f70618814c7393daae705a8b2d8d]
vm-window-size=(800, 600)

[org/virt-manager/virt-manager/vms/5bd54bd68b49494f98fb0e659503699a]
vm-window-size=(807, 614)

[org/virt-manager/virt-manager/vms/2327b4b88c3f4873b95e905875399b9b]
vm-window-size=(480, 90)
scaling=2

[org/virt-manager/virt-manager/vms/0fffb60b22b14aa0855c0e85654327ad]
vm-window-size=(800, 600)

[org/virt-manager/virt-manager/vms/b873d2d9c83d412e801fa945be09c113]
vm-window-size=(807, 614)

[org/virt-manager/virt-manager/vms/e321114b18384a78bc79ddfb52275661]
vm-window-size=(800, 600)

[org/virt-manager/virt-manager/connections]
autoconnect=['qemu:///system']
uris=['qemu:///system']

[org/virt-manager/virt-manager/urls]
isos=['/home/j/Images/Fedora-Workstation-Live-x86_64-26-1.5.iso', '/home/j/Virtual/alpine-standard-3.6.2-x86_64.iso', '/home/j/Downloads/alpine-standard-3.6.2-x86_64.iso']

[org/fedoraproject/FirewallConfig]
show-active-bindings=true
show-ipsets=true

[org/blueman/general]
latest-last=true
services-last-item=1
window-properties=[1920, 1050, 0, 0]

[org/blueman/plugins/recentconns]
recent-connections='eNp9kLlzEzEYxReTg5gjCeFMOBwIwRwO2mRj1oLAOIfJEMZNmm1SrFeypcHe5O0BDRkQjKgo6fi/+EugR7t2AYxjFRrp+96Tvt/7VNizDmCVj3Gq7E1aluUz/yjhEQoBa6VxcT+JZNgp4rQ3a5q1LbpZpduE7hDq1GijijGNcYWJgZVFPI4xKfpq4tDGDq3bdNWl23XjwRmNKYWiN56pu9KPcdZoi+b2evNNqdGVRyUH5zTOK1zwxkxZBochpgcaP2XysBL4EcOMxqzCxVwT+j2OuXyCXe6zmCe4lDfSVDJcNualbBizbJu4lexQsbPNzTZCXLLerrXWnHYLVzSuKlzL3Yk0z15/Vf8Z/Pr28cOGN2FqjL+TAcd8MyfoyYT3sNDMv+7EshP6XdzYs9Jj3CyLgjgps1satxVK4uScFjXuKNwVQ9JZ0rinsCyGhHJfo6zwQMx5U1kWfsjidsQ5Hop/Q7D5yBAeaTxWqIg++/ful/divikWmqKPtjIK7YkGUbBHoK1qrCk4w9DWNaoKT4ehuRo1BWrQskY9a5T2ZfgWz/5jI62RbM81NhReDNh+b/34/Bcb/4qXK38A7x7L8A=='

[org/blueman/transfer]
shared-path='/home/j/Downloads'

[org/gnome/documents]
view-as='icon'
window-maximized=true

[org/gnome/Contacts]
did-initial-setup=true

[org/gnome/settings-daemon/plugins/power]
power-button-action='suspend'
sleep-inactive-battery-type='suspend'
sleep-inactive-ac-timeout=3600
sleep-inactive-ac-type='suspend'
sleep-inactive-battery-timeout=1800

[org/gnome/settings-daemon/plugins/color]
night-light-schedule-automatic=true
night-light-schedule-to=7.0
night-light-schedule-from=19.0
night-light-enabled=false
night-light-last-coordinates=(12.9833, 77.583299999999994)

[org/gnome/settings-daemon/plugins/media-keys]
play='Pause'
screenshot='<Primary>Print'
screenshot-clip=''

[org/gnome/settings-daemon/plugins/xsettings]
overrides={'Gtk/ShellShowsAppMenu': <1>, 'Gdk/WindowScalingFactor': <1>}
antialiasing='grayscale'
hinting='slight'

[org/gnome/settings-daemon/peripherals/keyboard]
numlock-state='on'

[org/gnome/settings-daemon/peripherals/mouse]
locate-pointer=false

[org/gnome/shell]
enabled-extensions=['drive-menu@gnome-shell-extensions.gcampax.github.com', 'apps-menu@gnome-shell-extensions.gcampax.github.com']
command-history=['ls', 'alacritty', 'alactriyyu', 'alacrittu', 'r', 'lg', 'r', 'ls', 'emacsclient . ']
had-bluetooth-devices-setup=true
disable-user-extensions=true
app-picker-view=uint32 1
favorite-apps=['org.gnome.Terminal.desktop', 'org.gnome.Nautilus.desktop', 'emacs.desktop', 'firefox-beta-bin.desktop', 'google-chrome.desktop', 'hexchat.desktop']

[org/gnome/shell/overrides]
dynamic-workspaces=false
attach-modal-dialogs=true

[org/gnome/shell/extensions/mconnect]
device-indicators=true
device-keybindings={'': <{'name': <''>, 'bindings': <['', '', '', '', '', '']>}>, '61a2d301cbd5ab8c': <{'name': <'OnePlus'>, 'bindings': <['', '', '', '', '', '']>}>}
nautilus-integration=true
service-autostart=true
debug=false
device-automount=true
service-provider='MCONNECT'

[org/gnome/shell/extensions/net/gfxmonk/shellshape/prefs]
default-layout='fullscreen'

[org/gnome/shell/extensions/auto-move-windows]
application-list=['google-chrome.desktop:3', 'org.gnome.Nautilus.desktop:4', 'emacs.desktop:2', 'hexchat.desktop:9', 'org.gnome.FileRoller.desktop:1']

[org/gnome/baobab/ui]
active-chart='rings'
window-state=43908
window-size=(1012, 699)

[org/gnome/system/location]
enabled=true

[org/gnome/calculator]
target-currency='DZD'
show-zeroes=false
source-currency='DZD'
show-thousands=false
button-mode='keyboard'
target-units='radian'
word-size=64
window-position=(26, 23)
number-format='automatic'
angle-units='degrees'
base=10
source-units='degree'
accuracy=9

[org/gnome/gnome-screenshot]
include-pointer=false
include-border=true
border-effect='none'
delay=0

[org/gnome/nautilus/preferences]
use-experimental-views=false
click-policy='single'
show-delete-permanently=true
search-view='list-view'
default-folder-viewer='icon-view'
show-create-link=false
fts-default=false
show-image-thumbnails='local-only'
search-filter-time-type='last_modified'

[org/gnome/nautilus/window-state]
sidebar-width=197
start-with-sidebar=true
geometry='960x1006+26+23'
maximized=true

[org/gnome/nautilus/compression]
default-compression-format='zip'

[org/gnome/nautilus/icon-view]
default-zoom-level='large'

[org/gnome/nautilus/desktop]
home-icon-visible=false
volumes-visible=false
trash-icon-visible=false

[org/gnome/nautilus/list-view]
default-visible-columns=['name', 'size', 'date_modified']
default-zoom-level='standard'
use-tree-view=true
default-column-order=['name', 'size', 'type', 'owner', 'group', 'permissions', 'mime_type', 'where', 'date_modified', 'date_modified_with_time', 'date_accessed', 'recency']

[org/gnome/photos]
window-maximized=true

[org/gnome/evince]
document-directory=@ms 'file:///home/j/Downloads/Redhat/Sent'

[org/gnome/evince/default]
window-ratio=(3.2222222222222223, 1.4482323232323233)
continuous=true
fullscreen=false
show-sidebar=false
dual-page-odd-left=false
inverted-colors=false
zoom=2.4984244336023869
sidebar-page='annotations'
sidebar-size=192
dual-page=false
sizing-mode='fit-width'

[org/gnome/file-roller/listing]
sort-method='name'
name-column-width=250
sort-type='ascending'
list-mode='as-folder'
show-path=false

[org/gnome/file-roller/dialogs/new]
default-extension='.tar.gz'
volume-size=0
encrypt-header=false

[org/gnome/file-roller/dialogs/extract]
skip-newer=false
recreate-folders=true

[org/gnome/file-roller/ui]
sidebar-width=200
window-height=1006
window-width=1920

[org/gnome/evolution-data-server]
network-monitor-gio-name=''
migrated=true

[org/gnome/todo]
view='grid'
default-provider='local'
window-position=[26, 23]
window-maximized=false
window-size=[897, 774]

[org/gnome/pomodoro/preferences]
enabled-plugins=@as []
show-screen-notifications=true

[org/gnome/pomodoro/plugins/gnome]
hide-system-notifications=true

[org/gnome/pomodoro/plugins/sounds]
ticking-sound-volume=0.20000000000000001
ticking-sound=''

[org/gnome/pomodoro/state]
timer-score=3.0
timer-elapsed=0.0
timer-state-duration=1500.0
timer-paused=false
timer-date='2017-09-19T18:57:19Z'
timer-state='pomodoro'
timer-state-date='2017-09-19T18:57:19Z'

[org/gnome/desktop/interface]
text-scaling-factor=1.25
cursor-size=32
clock-format='12h'
gtk-im-module='gtk-im-context-simple'
scaling-factor=uint32 1
show-battery-percentage=true
clock-show-seconds=true
icon-theme='Adwaita'
toolkit-accessibility=false
enable-animations=false
gtk-theme='Adwaita'
clock-show-date=true

[org/gnome/desktop/notifications]
application-children=['gnome-network-panel', 'org-gnome-nautilus', 'firefox', 'firefox-beta-bin', 'gnome-tweak-tool', 'bluejeans', 'gpmdp', 'mattermost-desktop']
show-in-lock-screen=false

[org/gnome/desktop/notifications/application/org-gnome-nautilus]
application-id='org.gnome.Nautilus.desktop'

[org/gnome/desktop/notifications/application/firefox]
application-id='firefox.desktop'

[org/gnome/desktop/notifications/application/gpmdp]
application-id='gpmdp.desktop'

[org/gnome/desktop/notifications/application/bluejeans]
application-id='bluejeans.desktop'
force-expanded=true

[org/gnome/desktop/notifications/application/firefox-beta-bin]
application-id='firefox-beta-bin.desktop'

[org/gnome/desktop/notifications/application/hexchat]
force-expanded=true

[org/gnome/desktop/notifications/application/gnome-network-panel]
application-id='gnome-network-panel.desktop'

[org/gnome/desktop/notifications/application/mattermost-desktop]
application-id='mattermost-desktop.desktop'

[org/gnome/desktop/notifications/application/gnome-tweak-tool]
application-id='gnome-tweak-tool.desktop'

[org/gnome/desktop/screensaver]
picture-uri='file:///usr/share/backgrounds/gnome/Godafoss_Iceland.jpg'
color-shading-type='solid'
primary-color='#ffffff'
picture-options='zoom'
lock-enabled=true
secondary-color='#000000'

[org/gnome/desktop/peripherals/touchpad]
natural-scroll=false
click-method='default'
edge-scrolling-enabled=false
two-finger-scrolling-enabled=true
disable-while-typing=true
tap-to-click=true
speed=1.0

[org/gnome/desktop/peripherals/mouse]
natural-scroll=false
speed=1.0
accel-profile='adaptive'
left-handed=false

[org/gnome/desktop/calendar]
show-weekdate=false

[org/gnome/desktop/search-providers]
sort-order=['org.gnome.Documents.desktop', 'org.gnome.Nautilus.desktop', 'org.gnome.Contacts.desktop']
disabled=['org.gnome.Contacts.desktop', 'org.gnome.Calculator.desktop', 'seahorse.desktop']
disable-external=false

[org/gnome/desktop/privacy]
recent-files-max-age=7
remove-old-temp-files=true
old-files-age=uint32 7
remove-old-trash-files=true

[org/gnome/desktop/wm/preferences]
button-layout='appmenu:minimize,maximize,close'
resize-with-right-button=true
focus-mode='click'
theme='Adwaita'
num-workspaces=1
action-middle-click-titlebar='menu'

[org/gnome/desktop/wm/keybindings]
close=['<Alt>q']
switch-to-workspace-1=['<Super>1']
switch-applications=['<Super>Tab', '<Alt>Tab', '<Primary>Control_R']
switch-to-workspace-2=['<Super>2']
switch-to-workspace-3=['<Super>3']
switch-to-workspace-4=['<Super>4']
panel-main-menu=['<Alt>F1', 'Super_R']

[org/gnome/desktop/session]
idle-delay=uint32 600

[org/gnome/desktop/a11y]
always-show-universal-access-status=true

[org/gnome/desktop/a11y/applications]
screen-keyboard-enabled=false

[org/gnome/desktop/a11y/mouse]
click-type-window-style='both'
click-type-window-geometry=''
click-type-window-orientation='vertical'

[org/gnome/desktop/sound]
theme-name='__custom'
event-sounds=true

[org/gnome/desktop/datetime]
automatic-timezone=true

[org/gnome/desktop/background]
picture-uri='file:///usr/share/backgrounds/gnome/Godafoss_Iceland.jpg'
show-desktop-icons=false
color-shading-type='solid'
primary-color='#ffffff'
picture-options='zoom'
secondary-color='#000000'

[org/gnome/desktop/input-sources]
sources=[('xkb', 'us')]
xkb-options=['caps:escape']

[org/gnome/yelp]
font-adjustment=8

[org/gnome/cheese]
photo-y-resolution=720
burst-delay=1000
video-y-resolution=720
camera='Integrated Camera: Integrated C'
photo-x-resolution=1280
video-x-resolution=1280

[org/gnome/power-manager]
info-history-graph-points=true
info-history-type='charge'
info-stats-type='charge-data'
info-last-device='/org/freedesktop/UPower/devices/battery_BAT0'
info-page-number=1
info-history-graph-smooth=true
info-history-time=21600

[org/gnome/epiphany/state]
window-position=(26, 23)
is-maximized=false
window-size=(1024, 768)

[org/gnome/eog/view]
background-color='rgb(0,0,0)'
use-background-color=true

[org/gnome/eog/ui]
sidebar=false

[org/gnome/boxes]
view='list-view'
window-position=[26, 23]
window-maximized=false
window-size=[1301, 524]

[org/gnome/devhelp/state/main/contents]
group-books-by-language=false

[org/gnome/devhelp/state/main/window]
width=1162
y-position=23
maximized=true
height=824
x-position=26

[org/gnome/terminal/legacy]
new-terminal-mode='tab'
confirm-close=false
theme-variant='system'
default-show-menubar=false
mnemonics-enabled=true
schema-version=uint32 3

[org/gnome/terminal/legacy/keybindings]
preferences='<Primary>comma'
toggle-menubar='<Primary>p'

[org/gnome/terminal/legacy/profiles:/:4525541c-164a-4831-9e88-670b61674bda]
foreground-color='rgb(131,148,150)'
visible-name='dark'
use-system-font=false
use-theme-colors=false
exit-action='close'
font='Inconsolata 16'
scrollback-unlimited=false
background-color='rgb(0,43,54)'
scrollbar-policy='never'
audible-bell=false

[org/gnome/terminal/legacy/profiles:]
list=['92cae9fd-eaf3-4069-8da3-4ce127e3e580', '4525541c-164a-4831-9e88-670b61674bda']
default='4525541c-164a-4831-9e88-670b61674bda'

[org/gnome/terminal/legacy/profiles:/:92cae9fd-eaf3-4069-8da3-4ce127e3e580]
foreground-color='rgb(101,123,131)'
rewrap-on-resize=true
visible-name='light'
use-system-font=false
use-theme-colors=false
font='Inconsolata 16'
scrollback-unlimited=false
background-color='rgb(253,246,227)'
scrollbar-policy='never'
audible-bell=false

[org/gnome/evolution]
default-address-book='1503832683.768.4@mordor'
default-task-list='1503913078.2747.0@mordor'

[org/gnome/Totem]
screenshot-save-uri='/home/j/Pictures'
subtitle-encoding='UTF-8'
audio-output-type='4channel'
active-plugins=['media_player_keys', 'skipto', 'variable-rate', 'autoload-subtitles', 'save-file', 'recent', 'movie-properties', 'screensaver', 'vimeo', 'screenshot', 'apple-trailers']
open-uri='file:///home/j/Classes/algorithms-part1/03_analysis-of-algorithms'
repeat=false

[org/gnome/gnome-system-monitor]
current-tab='disks'
show-whose-processes='user'
window-state=(1920, 999, 0, 0)
graph-update-interval=2000
update-interval=3000
maximized=true
disks-interval=10000
cpu-stacked-area-chart=false
show-all-fs=false
show-dependencies=false

[org/gnome/gnome-system-monitor/proctree]
sort-col=0
columns-order=[0, 1, 2, 3, 4, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]
col-3-visible=true
col-6-visible=true
col-3-width=153
col-4-width=164
col-6-width=141
col-4-visible=true
col-15-visible=true
sort-order=0
col-15-width=139

[org/gnome/gnome-system-monitor/disktreenew]
col-4-width=0
col-6-width=0
col-6-visible=true
col-4-visible=true

[org/gnome/nm-applet/eap/fe9c3bdc-f261-44b0-b781-8e7204923eca]
ignore-phase2-ca-cert=false
ignore-ca-cert=false

[org/gnome/nm-applet/eap/16901e44-3a08-4f12-a8f4-4508bdb24f89]
ignore-phase2-ca-cert=false
ignore-ca-cert=true

[org/gnome/nm-applet/eap/31214141-2e0f-4e99-ab58-f43224648b1a]
ignore-phase2-ca-cert=false
ignore-ca-cert=false

[org/gnome/nm-applet/eap/8b2105fc-f190-43bd-846d-590f99e264c5]
ignore-phase2-ca-cert=false
ignore-ca-cert=false

[org/gnome/nm-applet/eap/5a1e869e-7d78-4235-b6b8-4d5dcb0a571b]
ignore-phase2-ca-cert=false
ignore-ca-cert=false

[org/gnome/mutter]
overlay-key='Super_L'

[org/freedesktop/tracker/miner/files]
index-recursive-directories=['&DESKTOP', '&DOCUMENTS', '&DOWNLOAD', '&MUSIC', '&PICTURES', '&VIDEOS', '/home/j/Papers', '/home/j/Projects', '/home/j/Library']

[org/freedesktop/tracker/needle]
default-view=1

[org/nemo/preferences]
show-full-path-titles=false
show-home-icon-toolbar=true
start-with-dual-pane=false
click-policy='single'
show-open-in-terminal-toolbar=true
show-hidden-files=false
date-format='informal'
show-image-thumbnails='always'
show-computer-icon-toolbar=true
show-reload-icon-toolbar=true
click-double-parent-folder=true
ignore-view-metadata=true
show-location-entry=true

[org/nemo/window-state]
start-with-sidebar=true
side-pane-view='places'
geometry='1920x1050+0+0'
maximized=true
sidebar-bookmark-breakpoint=2

[org/gtk/settings/debug]
enable-inspector-keybinding=true

[org/gtk/settings/file-chooser]
sort-column='name'
clock-format='12h'
sidebar-width=190
window-position=(387, 125)
show-size-column=true
show-hidden=false
window-size=(1147, 818)
sort-directories-first=true
date-format='regular'
sort-order='ascending'
location-mode='path-bar'

[org/gtk/settings/color-chooser]
selected-color=(true, 0.93333333333333335, 0.11372549019607843, 0.0, 1.0)
custom-colors=[(0.93333333333333335, 0.11372549019607843, 0.0, 1.0), (0.74509803921568629, 0.80784313725490198, 0.8666666666666667, 1.0), (0.28627450980392155, 0.6588235294117647, 0.20784313725490197, 1.0), (0.51372549019607838, 0.58039215686274515, 0.58823529411764708, 1.0), (0.24705882352941178, 0.43529411764705883, 0.74901960784313726, 1.0), (0.24705882352941175, 0.43529411764705883, 0.74901960784313726, 1.0), (0.25, 0.43581081081081102, 0.75, 1.0), (0.78431372549019607, 0.0, 0.011764705882352941, 1.0)]

[org/gtk/Demo]
fullscreen=false
maximized=false
color='green'
window-size=(947, 491)

[apps/seahorse/windows/key-manager]
width=1920
height=1016

[apps/seahorse/listing]
sidebar-width=148
item-filter=''
keyrings-selected=['secret-service://login', 'secret-service:///org/freedesktop/secrets/collection/Default_5fkeyring', 'gnupg://']

[ca/desrt/dconf-editor]
saved-view='/'
show-warning=false
window-height=710
window-width=1304
window-is-maximized=false
